.cardImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 5%;
  position: absolute;
}

.card-img {
  padding: 0;
  box-shadow: 5px 10px gray;

}

.cardImage:hover {
  transform: scale(1.05);
}

.imageDetail:hover {
  transform: scale(1.5);
}

.card-body {
  background-color: lightgray;
  border: 1px solid black;
  padding: 0;
  box-shadow: 5px 10px gray;
}

.backToCatalog {
  color: blue;
  cursor: pointer;
}

.card-text {
  margin: 25px;
}

.modalContainer {
  position: fixed;
  background-color: lightgray;
  opacity: 80%;
  width: 100vh;
  backdrop-filter: blur(200px);
}

.formTextSize {
  width: 300px;
}

.form-control-file {
  margin: 0;
  width: 300px;
}
